# Dependencias de Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno (¡Muy importante que no se suban contraseñas!)
.env
.env.local
.env.development
.env.test
.env.production

# Archivos de construcción (Build) del frontend
/frontend/dist/
/frontend/build/
dist/
build/

# Caché y archivos generados por Prisma
.prisma/
/backend/node_modules/

# Archivos propios del Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
